@import 'tailwindcss';
 @font-face {
  font-family: "Avenir Next";
  src: url("/fonts/avenir-next-demi-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
} 



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
  font-family: var(--font-main);
}

/* Font classes for easy use */
.font-main {
  font-family: var(--font-main);
}

.font-mono {
  font-family: var(--font-mono);
}

.font-avenir {
  font-family: "Avenir Next", sans-serif;
}

.font-inter{
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 87.5%; /* This = 14px */
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

